<f:render section="MainNavigation" />
<f:render section="Breadcrumb" />
<div class="container">
	<f:render section="content" />
	<footer class="footer">
		<f:render section="footer" />
	</footer>
</div>