<f:layout name="FixedLayout" />
<f:section name="MainNavigation">
	<f:render partial="FixedMainNavigation" />
</f:section>
<f:if condition="{data:is_siteroot} == 0">
    <f:section name="Breadcrumb">
        <f:render partial="FixedBreadcrumb" />
    </f:section>
</f:if>
<f:section name="content">
	<f:cObject typoscriptObjectPath="lib.twitterbootstrap.content" />
</f:section>
<f:section name="footer">
	<div class="row">
		<div class="span12"><f:cObject typoscriptObjectPath="lib.twitterbootstrap.footer.navigation" /><f:cObject typoscriptObjectPath="lib.twitterbootstrap.footer.copyright" /></div>
	</div>
</f:section>